{% for news in last_news %}

                <div class="recent-post">
                    <div class="recent-post_thumb">
                        <a href="{% url 'news_detail' news.alias %}">
                            <img class="img-full"
                                 src="assets/images/blog/large-size/1.jpg" alt="torsion's Blog Image">
                        </a>
                    </div>

                    <div class="recent-post_desc">
                        <span><a href="{% url 'news_detail' news.alias %}"> {{ news.title }} </a></span>
                        <span class="post-date"> {{ news.created_date }} </span>
                    </div>

                </div>

{% endfor %}