{% extends 'oscar/content/news/main.html' %}
{% load static %}
{% load i18n %}
{% block  title_page %}
    <title>News - Torsion Group</title>
{% endblock title_page %}

{% block news_page %}

    <div class="col-lg-9 order-lg-2 order-1">
        <div class="blog-item">

            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active"><a href="{% url 'news' %}">News</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="blog-img img-hover_effect">
                <img src="{{ news_detail.main_image.url }}" alt="Torsion News Image">
                <span class="post-date">{{ news_detail.created_date }}</span>
            </div>
            <div class="blog-content">
                <h3>{{ news_detail.title }}</h3>
                <p>{{ news_detail.full_text|safe }}</p>
            </div>

            <hr>

            <div class="row">
                <div class="single-form-left">
                    <div class="contact-single">
                        <h3 class="editContent">
                            <span class="sub-tittle editContent">

                            </span>
                            {% trans 'Оставить отзыв ' %}
                        </h3>
                        <form action=" " method="post" class="mt-4"
                              id="formReview">
                            {% csrf_token %}
                            <input type="hidden" name="parent" id="contactparent" value="">
                            <div class="form-group editContent">
                                <label for="contactcomment" class="editContent">
                                    Ваш комментарий *
                                </label>


                            </div>
                            <div class="d-sm-flex">
                                <div class="col-sm-6 form-group p-0 editContent">
                                    <label for="contactusername" class="editContent">
                                        Имя *
                                    </label>


                                </div>
                                <div class="col-sm-6 form-group ml-sm-3 editContent">
                                    <label for="contactemail" class="editContent">
                                        Email *
                                    </label>


                                </div>


                            </div>


                        </form>
                    </div>


                </div>
            </div>


        </div>


{% endblock news_page %}