{% load content_tag %}

<div class="col-lg-3 order-lg-1 order-2">
    <div class="torsion-blog-sidebar-wrapper">

        <div class="torsion-blog-sidebar">
            <div class="search-form_area">
                <form class="search-form" action="javascript:void(0)">
                    <input type="text" class="search-field" placeholder="search news">
                    <button type="submit" class="search-btn"><i class="ion-ios-search"></i></button>
                </form>
            </div>
        </div>

        <div class="torsion-blog-sidebar">

            <h4 class="torsion-blog-sidebar-title">Last News</h4>

            {% for news in last_news %}

                <div class="recent-post">
                    <div class="recent-post_thumb">
                        <a href="{% url 'news_detail' news.alias %}">
                            <img class="img-full"
                                 src=" " alt="Torsion's News Image">
                        </a>
                    </div>

                    <div class="recent-post_desc">
                        <span><a href="{% url 'news_detail' news.alias %}"> {{ news.title }} </a></span>
                        <span class="post-date"> {{ news.created_date }} </span>
                    </div>

                </div>

            {% endfor %}

        </div>
    </div>
</div>
